.photograph img {
    width: 100%;
}
.social-media {
    list-style-type: none;
    margin-left: 0;
    float: left;
    li {
        float: left;
        &:not(:first-child) {
            margin-left: 5px;
        }
        a {
            i {
                font-size: 22px;
            }
        }
    }
}
.imprint {
    float: left;
    width: 100%;
    span {
        &:hover {
            color: $active-color;
            cursor: pointer;
        }
    }
    .imprint-text {
        padding-top: 2%;
    }
}