.home {
  .overview {
    height: 100vh;
    padding-top: 0;

    .projects {
      overflow: scroll;
      padding-top: 105px;
      height: 100vh;
      
      @include breakpoint(small only) {
        padding-top: calc(5% + 40px);   
      }
      .featured-project {
        margin-bottom: 4vw;
        @include breakpoint(small only) {
          width: calc(100% + 15px);
        }
        img {
          width: 100% !important;
        }
        .small-info {
          margin-top: 1.3vw;
        }
      }
      
    }
    .scrollbarhiding {
      width: 17px;
      background-color: $white;
      height: 100vh;
      position: absolute;
      top: 0;
      @include breakpoint(small only) {
        width: 17px;
      }
      &.news {
        right: 0;
      }
      &.project {
        left: calc(50% - 17px);

      }
    }
    #news {
      overflow: scroll;
      padding-top: 105px;
      height: 100vh;
      .single-news {
        margin-bottom: 3vw;
        padding-bottom: 3vw;
        border-bottom: 1px solid $border-color;
        width: calc(100% + 9px);
        img {
          width: 100%;
        }
        .news-info {
          margin-top: 1vw;
          .date {
            color: $active-color !important;
            text-transform: lowercase;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}