body.single {
    overflow: hidden;
    @include breakpoint(small only) {
        overflow: auto;
        .site-header {
            position: fixed;
            width: 100%;
        }
    }

    .singleproject {
        padding-top: 0;
        .cell {
            margin-bottom: 0;
        }
        .orbit {
            height: 100%;
            width: 100%;
            outline: none;
            display: none;
        }
        .orbit-container {
            text-align: center;
            outline: none;
            overflow: visible;
            height: 100% !important;
            .orbit-slide {
                height: 100vh;
                z-index: -1;
                .orbit-image {
                    width: initial;
                    max-height: 80%;
                    height: auto;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
        @include breakpoint (small only) {
            height: auto !important;
            position: relative;
            top: initial;
            padding-top: calc(5vh + 40px + 2vw);
        }
        ul.images {
            list-style-type: none;
            margin-left: 0;
            li {
                margin-bottom: 20px;
            }
        }
    }
    @keyframes marginmove {
        from {margin-top: calc(100vh - 120px)};
        to {margin-top: calc(40vh - 120px)};
    }
    @include breakpoint(small only) {
        .scrollbarhiding {
        width: 10px;
        background-color: $white;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3000 !important;
    }
}
    .project-information {
        background-color: white;
        z-index: 2000 !important;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;       
        @include breakpoint(small only) {
            position: relative;
            bottom: initial;
            right: initial;
            left: initial;
            
        }
        .hidden-stuff {
            max-height: 0;
            opacity: 0;
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            pointer-events: none;
            @include breakpoint(small only) {
                max-height: 400px;
                opacity: 1;
                pointer-events: all;
            }
            &.visible {
                max-height: 400px;
                opacity: 1;
                transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
                pointer-events: all;
            }
        }
        
        .grid-x {
            padding-top: 0;
            top: initial;
            position: relative;
            .cell {
                > span {
                    padding-top: 5%;
                    margin-bottom: 5%;
                    float: left;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        color: $active-color !important;
                    }
                }
                &.related-projects {
                    ul {
                        list-style-type: none;
                        margin-left: 0;
                        li {
                            width: 100%;
                            border-bottom: 1px solid $border-color;
                            padding-bottom: 10px;
                            &:not(:first-child) {
                                padding-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
