table {
 display: none;
    th {
        outline: none;
        background-color: transparent !important;        
        font-weight: normal !important;
        padding-left: 0 !important;
        &:hover {
            cursor: pointer;
        }
        &#date {
            width: 13.6vw;
        }
        &#name {
            width: 47vw;
        }
        
    }
    tr {
        background-color: transparent !important;
        border-bottom: 1px solid #cccccc !important; 
    }
    thead, tbody {
        border: none;
        background-color: transparent;
    }
    td {
        vertical-align: top;
        padding-top: 1vw !important;
        padding-bottom: 0.5vw !important;
        padding-left: 0 !important;
        @include breakpoint(small only) {
            padding-bottom: 2vw !important;
            padding-top: 0 !important;
            &:first-child {
                padding-top: 2vw !important;
            }
        }
        &#namedisc {
            &:hover {
                span {
                color: $active-color;
                cursor: pointer;
                }
            }
            .typemobile {
                display: none;
                margin-top: 2vw;
            }
            .description {
                color: black !important;
                max-height: 0;
                opacity: 0;
                margin: 0;
                transition: all 0.2s ease-out;
                @include breakpoint(small only) {
                    max-height: 400px;
                    margin-top: 2vw;
                    margin-bottom: 8vw;
                    opacity: 1;
                }
                &.activated {
                    max-height: 400px;
                    opacity: 1;
                    transition: all 0.2s ease-in;
                    margin-top: 1vw;
                    margin-bottom: 3.5vw;
                    @include breakpoint(small only) {
                        max-height: 400px;
                        margin-bottom: 8vw;
                    }
                }
            }
        }
       
    }
   @include breakpoint(small only){
       thead {
           display: none;
       }
       tr td {
           display: block;
           &#namedisc {
            .typemobile {
                display: block;
            }
        }
           &.type {
               display: none;
           }
       }
   }
    
}