// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title


// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
  ul.menu {
    li {
      height: 40px !important;
      a {
        height: 40px;
        margin: 0 auto;
        border-bottom: 1px solid $border-color !important;
      }
    }
 
  }
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;
    

  }

}



.title-bar {
  position: relative;
  border-bottom: 1px solid $border-color;
  opacity: 0.9;
  padding-left: 5vw !important;
  .site-mobile-title {
    a {
      font-weight: normal;
    }
  }
  .burger {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 20px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    background-color: transparent;
    z-index: 31; }
  
  .burger:focus {
    outline: none; }
  
  .burger span {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000; }
  
  .burger span::before,
  .burger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: ""; }
  
  .burger span::before {
    top: -8px; }
  
  .burger span::after {
    bottom: -8px; }
  
  /**
   * Style 2
   *
   * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
   * down to center and transform into an "x".
   */
  .burger span {
    transition: background-color 0.2s 0s; }
  
  .burger span::before,
  .burger span::after {
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0.2s, 0s; }
  
  .burger span::before {
    transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
    -webkit-transition-property: top, -webkit-transform; }
  
  .burger span::after {
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
    -webkit-transition-property: bottom, -webkit-transform; }
  
  /* active state, i.e. menu open */
  .burger.active span {
    background-color: transparent !important; }
  
  .burger.active span::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  
  .burger.active span::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0; }
  
  .burger.active span::before,
  .burger.active span::after {
    transition-delay: 0s, 0.2s; }
}

// Tablet and desktop menu

.top-bar {

  .top-bar-title a {
    padding-left: 1.5vw;
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
  background-color: white;
  opacity: 0.9;
  z-index: 99999 !important;
  ul.desktop-menu {
    padding-right: 0;
    li a {
      padding-right: 10px;
      padding-left: 0;
    }
    li:last-child { 
      a {
        padding-right: 1.5vw; 
      }
     }
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.site-header {
  max-height: 40px;
}